*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

 li {
    list-style: none;
 }
  

 /* --------------------------------------------------------  */

.flex {
    display: flex;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.f-space-between {
    justify-content: space-between;
}

.greenbd {
    border-left: 1px solid greenyellow;
}

.dsnone {
    display: none;
}


        /* MACRO  AREE  */

 .container-app {
    height: 100vh;
 }

 .container1{
    height: calc(100vh - 100px);
 }

 .container2 {
    align-items: center;
    color: white;
    background-color: #282828;
    height: 100px;
    z-index: 2;
    position: fixed;
    width: 100%;
 }

 .btn {
    padding: 10px 40px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
 }

        /* NAVIGATION  */

 .nav {
    background-color: #000000;
    color: white;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 13%;
    padding: 15px 15px;
 }

 .nav li {
    color: grey;
 }

 .home {
    color: white;
 }

 .logo {
    width: auto;
 }

 .logo img {
    padding: 5px 15px 10px 15px;
 }

 .user {
    line-height: 3rem;
}

.grey {
    color: grey;
}

.user h4 {
    border-bottom: 1px solid grey;
}

.sidebar img {
    width: 15%;
}

ul.sidebar {
    padding: 20px 0px;
}

#cross {
    display: inline;
    background: grey;
    color: black;
    padding: 10px 7px 10px 10px;
    margin-right: 10px;
}

.playlist {
    line-height: 40px;
}

        /* MAIN AREA  */

 .main-area {
    background-color: #141922;
    color: white;
    padding-top: 5rem;
    height: 100%;
    overflow: auto;
 }

 .main-container {
    width: 87%;
 }

 .upgrade {
    padding: 1.5rem;
    z-index: 1;
    position: fixed;
    justify-content: flex-end;
    display: flex;
    right: 0;
    width: 100%;
    background-color: #0000005e;
}

.main-menu {
    justify-content: center;
    padding: 1%;
}

.main-menu li {
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    color: darkgrey;
}

.main-menu ul {
    flex-wrap: wrap;
    justify-content: center;
}

.rec-played-box-container {
    flex-wrap: wrap;
    padding: 10px 0px;
}

.rec-played-box {
    padding: 10px 10px;
    text-align: center;
    width: calc(100% /6);
    position: relative;
}

.rec-played-box img {
    width: 100%;
}

.rec-played-box i {
    position: absolute;
    left: 43%;
    top: 30%;
    font-size: xxx-large;
    display: none;
}

.rec-played h1, .rec-played h2 {
    padding: 10px 10px;
}

.creato-text {
    padding: 10px 10px;
}

.creato-box {
    padding: 10px 10px;
    text-align: center;
    position: relative;
    width: 17%;
}

.creato-box img {
    width:100%; 
}

.creato-box i {
    position: absolute;
    left: 43%;
    top: 30%;
    font-size: xxx-large;
    display: none;
}

.square img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

       /* FOOTER AREA */

.leftboxft img {
    width: 50px;
}

.leftboxtext {
    flex-direction: column;
    padding-left: 10px;
}

.leftboxft {
    padding:1px 0px 1px 10px;
}

.leftboxicon {
    padding: 0px 20px;
}

.leftboxicon i {
    padding: 0px 5px;
    color: grey;
}

div#playerbar {
    border: 0px solid grey;
    width: 20rem;
    height: 10px;
    margin: 5px 10px;
    background-color: #4a4a4a;
    border-radius: 20px;
}

.middleboxft {
    align-items: center;
}

.fticons i {
    margin: 5px 20px;
}

.fa-circle-play {
    font-size: 2rem;
}

.leftsec {
    width: 20%;
    align-items: center;
}

.rightboxi i {
    padding: 0px 5px;
}

.rightboxi {
    align-items: center;
}

.bar {
    width: 100px;
    background-color: dimgrey;
    border-radius: 20px;
    height: 10px;
    margin-right: 20px;
}

 /*                   HOVER  */

 li:hover {
    color: white;
    cursor: pointer;
 }

 button:hover {
    font-size: large;
 }

 li:hover #cross {
    background-color: white;
 }

 .rec-played-box:hover img ,.creato-box:hover img {
    opacity: 0.4;
    cursor: pointer;
    color: white;
 }

 .rec-played-box:hover i , .creato-box:hover i {
    display: block;
 }

 .leftboxicon:hover i { 
    cursor: pointer;
    color: white;
 }

.fticons .fa-circle-play:hover  {
    font-size: 3rem;
    cursor: pointer;
 }




                /* MEDIA QUERY  */

               /* TABLET */

@media screen and (max-width: 768px) {

    .nav {
        width: 30%;
    }
 
    .rec-played-box {
        width: calc(100% /3);
    }

    .creato-box {
        width: 30%; 
    }

    .bar , .leftsec img {
        display: none;
    }

    div#playerbar {
        width: 5rem;
    }

}

               /* MOBILE  */

@media screen and (max-width: 425px) { 

    .nav {
        width: auto;
    }

    .rec-played-box {
        width: calc(100% /2);
    }

    .nav ul, .nav h2, .nav h4 {
        display: none;
    }

    .dsnone {
        display: block;
    }

    .menunone {
        padding-top: 20px;
    }

    .creato-box {
        width: 40%; 
    }

    div#playerbar {
        width: 2rem;
    }

    .fa-volume-high , .fa-tv , .fa-shuffle, .fa-rotate-right {
        display: none;
    }

    .leftboxicon {
        display: flex;
        flex-direction: column;
    }

    .leftboxicon i {
        padding: 5px 5px;
    }
}